extends layout

block nav
  li
    a(href='/') Accueil
  li.active
    a(href='/faq') Règles / FAQ
  li
    a(href='/contact') Contact

block content
  .row
    .col-md-12.faq
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        div
          #headingOne.panel-heading(role='tab')
            h4.panel-title
              a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                | Règles du jeu
          #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            .panel-body
              h3 Matériel
              p
                | Mixtour est composé d’un plateau de 5x5 cases et de 2x25 pions blanc et bleu.
              h3 Objectif
              p
                | Les joueurs doivent former des piles d’au moins cinq pions, dont le sommet est occupé par un pion de leur propre couleur.
              p
                | La pile est alors retirée du plateau et les pions retournent à la réserve.
              p
                | Le joueur qui possédait le pion supérieur de la pile marque alors un point.
              p
                | La partie est gagné par le premier joueur qui atteint 5 points.
              h3 Déroulement
              p
                | A son  tour de jeu, un joueur peut soit :
                br
                |                           - Ajouter un pion sur une case vide : Le joueur place un pion de sa couleur sur une case libre de son choix.
                br
                |                           - Déplacer une pile sur le jeu
              p
                | Le joueur choisit une pile et déplace un ou plusieurs pions de cette pile.
              p
                | Les pions sont pris du haut de la pile.
              p
                | Les pions se déplacent en ligne droite, horizontalement ou verticalement et diagonalement.
              p
                | Un joueur peut déplacer une pile de n’importe quelle couleur.
              p
                | Il est interdit de revenir à la situation précédente immédiatement après un tour.
              p
                | Une pile ne peut pas sauter des cases occupées.
              p
                | Le mouvement doit terminer sur une autre pile, les pions sont placés au dessus de cette pile.
              p
                | Les piles de cinq pions ou plus sont retirées du jeu et rapportent un point.
              p
                | La hauteur de la pile qui reçoit le  mouvement détermine la distance exacte d’où peut provenir la pile qui se déplace.
        div
          #headingTwo.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                | Comment fonctionne le concours ?
          #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
            .panel-body
              | Le concours se déroule sur une période donnée. Chaque partie effectuée rapporte des points. A la fin de la période,  les 5 premiers membres du classement gagnent une boite de jeu. Nous offrons également 5 autres boites aléatoirement à un des membres.
        div
          #headingThree.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                | Comment les points sont calculés ?
          #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
            .panel-body
              | Lorsque vous gagnez une partie, nous vous attribuons 3 points. Si vous perdez celle-ci, vous n’aurez que 1 point.
        div
          #headingFour.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                | Comment participer au concours ?
          #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
            .panel-body
              | Lorsque vous êtes inscrits et connectés, toutes vos parties terminées sont prisent en compte.
        div
          #headingFive.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                | Comment savoir si j’ai gagné ?
          #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
            .panel-body
              | Si vous gagnez un lot, vous serez avertis par mail dans les plus brefs délais. Nous vous demanderons de confirmer l’adresse de livraison avant d’envoyer la boite de jeu.
        div
          #headingSix.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                | Puis-je voir le classement ?
          #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
            .panel-body
              | Nous gardons le classement privé afin de garder le suspense jusqu’à la fin du concours.
        div
          #headingSeven.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                | Je n’arrive pas à me connecter, que faire ?
          #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven')
            .panel-body
              | Vérifiez votre login et votre mot de passe.
              | Si vous ne parvenez pas à vous connecter malgré la saisie de vos coordonnées, écrivez-nous via le formulaire de contact, afin que nous vous renvoyions les bons identifiants.




