extends layout

block nav
  li
    a(href='/') Accueil
  li
    a(href='/faq') Règles / FAQ
  li
    a(href='/contact') Contact

block content
  .row
    .col-md-12
      #container
        canvas#board(width='504', height='504')
        #scorePanel
          .score.left
            p Player 1
            p.playerScore 0
          .score.right
            p Player 2
            p.playerScore 0


block javascripts
  script.
    window.onbeforeunload = function () {
      if(true) return false;
      return 'Handler for .unload() called.';
    };

  script(src='javascripts/src/Engine.js')
  script(src='javascripts/src/GUI.js')
  script.
    window.onload = function () {
    var board = document.getElementById('board');
    var engine = new Engine();
    var Gui = new GUI(engine, board);
    };

