extends layout

block nav
  li
    a(href='/') Accueil
  li
    a(href='/faq') Règles / FAQ
  li
    a(href='/contact') Contact

block content
  .row
    .col-md-12
      .game

block javascripts
  script(src='Socket.js')
  script.
      $(document).click(function () {
        socket.emit('coucou', 'Hello World from client');
      });

      socket.on('messages', function (data) {
        idGame = data.idG;
       
        var data = { id : idconnexion , idGame : idGame};
        socket.emit('hi', data);
      });

      socket.on("howdy", function (data) {
        alert(data);
      });
      window.onbeforeunload = function () {
        if(true) return false;
        return 'Handler for .unload() called.';
      };
