extends layout

block nav
  li.active
    a(href='/') Accueil
  li
    a(href='/faq') Règles / FAQ
  li
    a(href='/contact') Contact

block content
  .row
    .col-md-6
      .steps-circle
        #step1.step.active
        #step2.step
        #step3.step
  .row
    .col-md-6
      h2 Inscription
      form(method='post', action="signup")
        .infosGeneral
          input.input(type='text', name='username', placeholder="Nom d'utilisateur")
          input.input(type='password', name='password', placeholder='Mot de passe')
          input.input(type='password', name='password2', placeholder='Confirmation du mot de passe')
          input.input(type='email', name='mail', placeholder='E-mail')
          a#step-next1.btn.btn-lg.btn-default(href='#') Suivant
        .infosPersonnel
          input.input(type='text', name='lastname', placeholder='Nom')
          input.input(type='text', name='firstname', placeholder='Prénom')
          input.input(type='text', name='age', placeholder='Âge')
          a#step-next2.btn.btn-lg.btn-default(href='#') Suivant
        .adresse
          input.input(type='text', name='address', placeholder='Adresse')
          input.input(type='text', name='postcode', placeholder='Code postal')
          input.input(type='text', name='city', placeholder='Ville')
          input.input(type='text', name='country', placeholder='Pays')
          input.btn.btn-lg.btn-default(type='submit', value="S'inscrire", action="index")
    .col-md-6
      h2 Connexion
      form(method='post' action="/signin")
        input.input(type='text', name='username', placeholder="Nom d'utilisateur")
        input.input(type='password', name='password', placeholder='Mot de passe')
        input.btn.btn-lg.btn-default(type='submit', value='Connexion')

block javascripts
  script.
    $('.infosPersonnel').hide();
    $('.adresse').hide();
    $('#step-next1').on('click', function() {
    $('.infosGeneral').hide(400);
    $('.infosPersonnel').show(400);
    $('#step2').addClass('active');
    });
    $('#step-next2').on('click', function() {
    $('.infosPersonnel').hide(400);
    $('.adresse').show(400);
    $('#step3').addClass('active');
    });
    $('#step1').on('click', function() {
    $('.infosGeneral').show(400);
    $('.infosPersonnel').hide(400);
    $('.adresse').hide(400);
    $('#step1').addClass('active');
    });
    $('#step2').on('click', function() {
    $('.infosGeneral').hide(400);
    $('.infosPersonnel').show(400);
    $('.adresse').hide(400);
    $('#step2').addClass('active');
    });
    $('#step3').on('click', function() {
    $('.infosGeneral').hide(400);
    $('.infosPersonnel').hide(400);
    $('.adresse').show(400);
    $('#step3').addClass('active');
    });



