extends layout
block content
   h1= title
   h2 Login
   form( action="/signin", method="post")
      if typeof(errorMessage) !== 'undefined'
         span= errorMessage
      br
      input(type="text", name="username")
      br
      input(type="password", name="password")

      input(type="submit",name="signin", value="sign in")

   h2 Register
   form(name="login", action="/signup", method="post")
      input(type="text", name="username")
      br
      input(type="password", name="password")
      input(type="submit",name="signup",id="signup", value="register")
